.player2controls {
    display: flex;
    justify-content: center;
    /* margin: auto 0;   */
    width: 100vw;
}

.player2details {
    display: flex;
    justify-content: center;
    /* margin: auto 0; */
    width: 100vw;
    font-size: 19px;
    font-style: italic;
    margin-bottom: 1px;
}

.osccanvas {
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 1s;
}

.osccanvas0 {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0
}

.volicons {
    margin: 10px;
    cursor: pointer;
    /* font-size: 11px;
    font-style: italic; */
}

.volslider {
    width: 10px;
    height: 10px;
    /* background: red; */
}

.githublinks {
    position: fixed;
    bottom: 3px;
    left: 9px;
    font-size: 13px;
}