.visualizer__skin {
    /* display: flex; */
    /* position: fixed; */
    /* bottom: "540px"; */
    pointer-events: none;
    /* z-index: -1; */
    /* width: "100px"; */
    /* height: "1000px"; */
}

.toggle__play {
    position: fixed;
    bottom: 80px;
    left: 50vw;
    pointer-events: all;
    margin: 0 auto;
    z-index: 6;
    opacity: 1;
    /* color: red; */
}

.stop__button {
    position: fixed;
    bottom: 140px;
    left: 50vw;
    pointer-events: all;
    margin: 0 auto;
    z-index: 6;
    opacity: 1;
    /* color: red */
}

.canvas__skin {
    pointer-events: none;
    z-index: 1;
    opacity: 1;
}

.fullvis__button1 {
    position: fixed;
    top: 10px;
    left: 20px;
    color: white;
    z-index: 2;
}

.fullvis__button2 {
    position: fixed;
    top: 35px;
    left: 20px;
    color: white;
    z-index: 2;
}

.fullvis__image {
    /* position: absolute; */
    opacity: 0.01;
    width: 100vw;
    height: 100vh;
    /* margin: 0 auto; */
    /* top: 100vh/2; */
    /* left: 100vw/2; */
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -50px; */
    /* margin-left: -50px; */
    /* width: 100px; */
    /* height: 100px; */
}

#canvas__field2 {
    background-color: rgb(23, 20, 20);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#go-back {
    position: fixed;
    top: 24px;
    left: 20px;
    color: white;
    z-index: 2;
}