.visualizer__skin {
    /* display: flex; */
    /* position: fixed; */
    /* bottom: "540px"; */
    pointer-events: none;
    /* z-index: -1; */
    /* width: "100px"; */
    /* height: "1000px"; */
}

.toggle__play {
    position: fixed;
    bottom: 80px;
    left: 50vw;
    pointer-events: all;
    margin: 0 auto;
    z-index: 6;
    opacity: 1;
    /* color: red; */
}

.stop__button {
    position: fixed;
    bottom: 140px;
    left: 50vw;
    pointer-events: all;
    margin: 0 auto;
    z-index: 6;
    opacity: 1;
    /* color: red */
}

.canvas__skin {
    pointer-events: none;
    z-index: 1;
    opacity: 1;
}

.fullvis__controller {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 2;
    bottom: 0px;
}

.full__buttons:hover {
    opacity: 0.8;
}

.fullvis__button1 {
    color: grey;
    z-index: 2;
    /* border: 1px solid grey; */
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.fullvis__button2 {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.fullvis__button3 {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.fullvis__button4 {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.fullvis__button5 {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.fullvis__button6 {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.fullvis__image {
    /* position: absolute; */
    opacity: 0.01;
    width: 100vw;
    height: 100vh;
    /* margin: 0 auto; */
    /* top: 100vh/2; */
    /* left: 100vw/2; */
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -50px; */
    /* margin-left: -50px; */
    /* width: 100px; */
    /* height: 100px; */
}

.visualizer__info {
    position: fixed;
    flex-direction: column;
    bottom: 0;
    right: 0;
    display: flex;
}

.tempo__box {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

.mode__box {
    color: grey;
    z-index: 2;
    border: 1px solid rgba(37, 33, 33, 0.9);
    opacity: 0.4;
    padding: 10px;
}

#canvas__field2 {
    background-color: rgb(23, 20, 20);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#go-back {
    position: fixed;
    top: 0px;
    left: 0px;
    /* color: white; */
    z-index: 2;
}