.listdisplay__container {
    /* border: 1px solid lightcoral; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 44px;
    overflow: hidden;
    padding: 10px;
    margin-left: 135px;
}

.centerer {
    border: 3px solid rgb(152, 216, 167);
    font-size: 25px;
}

.centerer__red {
    /* border: 3px solid rgb(221, 176, 233); */
    border: 3px solid rgb(83, 22, 13);
    font-size: 25px;
}

#particles {
    pointer-events: none;
    z-index: -1;
}