.navbar {
    /* border: 1px solid lightcoral; */
    background-color: rgb(31, 30, 30);
    /* background: linear-gradient(90deg, rgb(31, 30, 30) 0%, #333 35%, rgb(31, 30, 30) 100%); */
    width: 100vw;
    height: 45px;
    position: fixed;
}

.nav__element {
    color: lightcoral;
}