.vibe__li {
    cursor: pointer;
    list-style: none;
    /* border: 1px solid rgb(39, 35, 35); */
    /* box-shadow: 1px 1px 3px 4px rgba(151, 238, 155, 0.5); */
    padding: 10px;
    margin: 10px;
    border-top: 0.1px solid rgba(151, 238, 155, 0.1);
    /* border-bottom: .5px solid rgba(151, 238, 155, 0.2); */
    /* border-right: .5px solid rgba(151, 238, 155, 0.2); */
    transition-property: font-size;
    transition-duration: 0.7s;
}

.vibe__li:hover {
    font-size: 27px;
}

.vibe__li:active {
    font-size: 19px;
}

.headers__colors2 {
    color: rgb(161, 184, 161);
}

.headers__colors4 {
    /* color: rgb(136, 68, 125); */
    color: rgb(190, 67, 67);
}

.headers__colors3 {
    /* color: rgb(235, 172, 203); */
    color: rgb(250, 102, 102);
}

.trash {
    font-size: 20px;
    position: relative;
    right: 50px;
}