.vibe__li {
    cursor: pointer;
    list-style: none;
}

.headers__colors2 {
    color: rgb(161, 184, 161);
}

.headers__colors4 {
    color: rgb(136, 68, 125);
}

.headers__colors3 {
    color: rgb(235, 172, 203);
}