.artistpage__container {
    /* border: 1px solid lightcoral; */
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    margin-top: 44px;
    margin-left: 56px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    margin-left: 135px;
    font-size: 20px;
}

.artist__parent {
    /* border: 1px solid green; */
    border-radius: 4px;
    text-align: center;
    box-shadow: 1px 1px 5px 2px rgba(185, 238, 190, 0.2);
    box-sizing: border-box;
    margin: 40px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(18, 31, 21) 0%, rgb(30, 43, 29) 35%, rgb(40, 54, 44) 100%);
}